<div class="sliding-nav-wrapper">
  <a class="close-toggle" href="javascript://" (click)="toggleTopNav()">&times;<span class="sr-only">Close</span></a>
  <div class="sliding-nav">
    <div class="sliding-nav-logo">
      <span class="logo-img"></span>
    </div>
    <ul class="slider-nav">
      <li><a class="nav-link" [class.active]="true" href="/"><span class="nav-text">Home</span></a></li>
      <li><a class="nav-link" href="/get-started"><span class="nav-text">Get Started</span></a></li>
      <li><a class="nav-link" href="/documentation"><span class="nav-text">Documentation</span></a></li>
      <li><a class="nav-link" href="/community"><span class="nav-text">Community</span></a></li>
      <li><a class="nav-link" href="/news"><span class="nav-text">What's New</span></a></li>
    </ul>
  </div>
</div>
<!--{% if hasSidebar %}-->
<!--<div class="sliding-sidenav-wrapper sliding-nav-wrapper">-->
  <!--<a class="close-toggle" href="javascript://" (click)="toggleSideNav()">&times;<span class="sr-only">Close</span></a>-->
  <!--<div class="sliding-nav sliding-sidenav">-->
    <!--<ul class="slider-nav">-->
      <!--{% if page.layout == 'documentation' %}-->
      <!--{% if page.url == '/documentation/index' %}-->
      <!--{% assign activeClass = ' active' %}-->
      <!--{% else %}-->
      <!--{% assign activeClass = '' %}-->
      <!--{% endif %}-->
      <!--<a class="nav-link nav-link-header{{ activeClass }}" href="{{ site.baseurl }}/documentation">Component Status</a>-->

      <!--<li><h5 class="documentation-hdr first">Patterns</h5></li>-->
      <!--{% include documentation/just_navlinks.html type="pattern" %}-->

      <!--<li><h5 class="documentation-hdr">Components</h5></li>-->
      <!--{% include documentation/just_navlinks.html type="component" %}-->

      <!--{% include utility/sketch-tmpl-download.html cssClass="nav-link nav-link-header" linkText="Sketch Templates" %}-->
      <!--{% else %}-->
      <!--{% if page.layout == 'news'%}-->
      <!--{% include news/just_navlinks.html section="current" responsive=true %}-->
      <!--{% include news/just_navlinks.html responsive=true %}-->
      <!--{% else %}-->
      <!--<h5 class="furst">Get Started</h5>-->
      <!--{% include get-started/just_navlinks.html section="clarity" responsive=true %}-->
      <!--{% endif %}-->
      <!--{% endif %}-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<div class="sliding-nav-backdrop">&nbsp;</div>

<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://" (click)="toggleTopNav()" class="sliding-nav-toggle"></a>
      <a routerLink="/" class="logo-and-title">
        <span class="clr-icon clr-vmw-logo"></span>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/get-started" routerLinkActive="active"><span class="nav-text">Get Started</span></a>
      <a class="nav-link" routerLink="/documentation" routerLinkActive="active"><span class="nav-text">Documentation</span></a>
      <a class="nav-link" routerLink="/community" routerLinkActive="active"><span class="nav-text">Community</span></a>
      <a class="nav-link" routerLink="/news" routerLinkActive="active"><span class="nav-text">What's New</span></a>
    </div>
    <div class="settings">
      <!--<a href="javascript://" (click)="toggleSideNav()" class="sliding-nav-toggle sliding-sidenav-toggle" title="Secondary Navigation"></a>-->

      <!-- watch/star widget from https://ghbtns.com/#original-watch-aka-star... apache 2 license. thanks, mdo! -->
      <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=vmware&repo=clarity&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
  </header>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>  <!-- /.content-container -->

  <footer>
    <div class="footer-wrapper">
      <img class="vmware-weblogo" src="assets/images/home/logo_vmware.svg">
      <p class="copyright">&copy; 2016 VMware, Inc. All Rights Reserved.</p>
    </div>
  </footer>
</div> <!-- /.main-container -->
